.color-madriguera {
    color: #ff9757;
}
  
.color-bg-madriguera {
    background-color: #ff9757;
}

.color-bg-navbarCelu {
    background-color: #222327;
}

.color-bg-body {
    background-color: black;
}