.color-madriguera {
    color: #ff9757;
}

.color_letra_gris {
    color: #b2b2b2;
}

.color_letra_blanca {
    color: #f9f9f9;
}
  
.color-bg-madriguera {
    background-color: #ff9757;
}

.color-bg-navbarCelu {
    background-color: #222327;
}

.color-bg-body {
    background-color: black;
}

.color-bg-body-claro {
    background-color: #404040;
}

